.container2{
    display: flex;
    height: 100vh;
}
.contact{
    
    
    max-width: 900px;
    height: 50vh;
    padding:30px;
    background-color: aqua;
    border-radius: 20px;
}
.left3,.right3{
    flex: 1;
    padding: 20px;
}
.form-group label{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.form-group input,
.form-group textarea{
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
}
button{
    background-color: brown;
    
    padding: 10px;
    margin-top: 5px;
    margin: 0;
    margin-bottom:0 ;
}
.right3 img{
    width: 800px;
    height: 400px;
}
